openapi: '3.0.0'
info:
  version: 1.0.0
  title: Mi AI Marketing API
  license:
    name: MIT
servers:
  - url: https://api.miaimarketing.com/v1
paths:
  /campaigns:
    get:
      summary: List all marketing campaigns
      operationId: listCampaigns
      parameters:
        - name: limit
          in: query
          description: How many items to return at one time (max 100)
          required: false
          schema:
            type: integer
            format: int32
      responses:
        200:
          description: An paged array of campaigns
          headers:
            x-next:
              description: A link to the next page of responses
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Campaigns'
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    post:
      summary: Create a new marketing campaign
      operationId: createCampaign
      responses:
        201:
          description: Campaign created successfully
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /campaigns/{campaignId}:
    get:
      summary: Retrieve details for a specific marketing campaign
      operationId: getCampaign
      parameters:
        - name: campaignId
          in: path
          required: true
          description: The unique identifier of the campaign to retrieve
          schema:
            type: string
      responses:
        200:
          description: Campaign details retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Campaigns'
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /analytics:
    get:
      summary: Retrieve aggregated analytics data for marketing campaigns
      operationId: getAnalytics
      parameters:
        - name: startDate
          in: query
          description: Start date for analytics data in YYYY-MM-DD format
          required: false
          schema:
            type: string
            format: date
        - name: endDate
          in: query
          description: End date for analytics data in YYYY-MM-DD format
          required: false
          schema:
            type: string
            format: date
      responses:
        200:
          description: Analytics data retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Analytics'
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    post:
      summary: Generate custom analytics report
      operationId: createAnalyticsReport
      responses:
        201:
          description: Analytics report generation initiated
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /segments:
    get:
      summary: List audience segments for targeting
      operationId: listSegments
      parameters:
        - name: type
          in: query
          description: Filter segments by type (demographic, behavioral, etc.)
          required: false
          schema:
            type: string
      responses:
        200:
          description: Audience segments retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Segments'
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
components:
  schemas:
    Campaign:
      required:
        - id
        - name
      properties:
        id:
          type: integer
          format: int64
        name:
          type: string
        status:
          type: string
        type:
          type: string
    Campaigns:
      type: array
      items:
        $ref: '#/components/schemas/Campaign'
    Analytics:
      required:
        - period
        - metrics
      properties:
        period:
          type: string
        metrics:
          type: object
        insights:
          type: array
          items:
            type: string
    Segments:
      type: array
      items:
        $ref: '#/components/schemas/Segment'
    Segment:
      required:
        - id
        - name
      properties:
        id:
          type: integer
          format: int64
        name:
          type: string
        size:
          type: integer
        criteria:
          type: object
    Error:
      required:
        - code
        - message
      properties:
        code:
          type: integer
          format: int32
        message:
          type: string